.customTabPanel-main{
    .dx-tab{
        padding: 8px 16px 8px 16px;
        margin-right: 0px !important;
    }
    .dx-tab .dx-tab-text{
        text-transform: none;
        color:#687787;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 14px;
        font-weight: 600;
        padding: 0% !important;
    }
    .dx-tabs-styling-mode-primary.dx-tab-indicator-position-bottom .dx-tab-selected::after{
        background-color: #DA1C5C;
        height: 0px !important;
    }
    .dx-tabs-wrapper{
        padding: 8px;
    }
    .dx-tabpanel-tabs{
        padding:0px !important;
        width: 13%;
        border: 1px solid;
        border-color: #B3BAC3;
        
    }
    .dx-tab-selected{
        background-color:rgba(218, 28, 92, .08) !important;
        border-radius: 3px;
        .dx-tab-text-span{
            color: #DA1C5C;
         
        }
   } 
   
   .dx-state-active {
    background-color: rgba(218, 28, 92, .08);
   }
   .dx-item.dx-tab.dx-tabpanel-tab.dx-tab-selected.dx-state-hover{
    background-color:rgba(218, 28, 92, .08) !important;

   }
   .dx-item.dx-tab.dx-tabpanel-tab.dx-tab-selected.dx-state-focused{
    background-color:rgba(218, 28, 92, .08) !important;
   }
   .dx-icon{
    height: 16px;
    width: 16px;
   }
   .dx-tab.dx-tab-selected,
.dx-tab.dx-tab-selected .dx-icon {
  color: #ffffff;
}
.dx-tabpanel{
    width: 100px;
    height: 80px !important;
}  
.dx-tabpanel-container{
    min-height: auto;
}
.dx-tabpanel-tabs-position-top .dx-tabs{
    border-bottom: 0px;
}
}
