@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:wght@100..900&display=swap");

.btnGroupMain {
  .btnGroup {
    padding: 12px 0px 12px 0px;
  }
  .dx-button-mode-contained,
  .dx-button-mode-contained.dx-state-hover {
    padding: 10px;
    box-shadow: none;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgba(78, 93, 107, 0.24);
    height: 26px;
    width: auto;
    margin-right: 12px;
  }
  .dx-state-focused {
    border-color: #344450;
  }
  .dx-state-focused.dx-state-hover {
    border-color: #344450 !important;
  }

  .dx-button-text {
    text-transform: none;
    padding-right: 3px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #344450;
    font-weight: 400;
  }
  .dx-icon {
    height: 18px !important;
    width: 18px !important;
  }
}
.dx-button-content {
  padding: 0 15px !important;
}

.dx-button-has-icon.dx-button-has-text.dx-button-content {
  padding-block: 0px !important;
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
}
